<div class="Register">
  <div class="register-wrapper">
    <app-header></app-header>
    <form #registerForm="ngForm" class="form-signin" (ngSubmit)="register(registerForm)">
      <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage && registerForm.submitted">
        Username already in use!
      </div>
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="email" id="inputUsername" class="form-control" placeholder="Username" name="username"
             required autofocus ngModel>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"
             name="password" required ngModel>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
